h1{
  color: black;
}
h2{
  color: #1E90FF;
  text-align: center;
}
p{
  padding:40px;
}
/* This file is where your CSS goes. When you start adding CSS, feel free to delete this comment */
header {
  background-color: white;
  }
  img{
    width:400px;
    margin-right:400px;
    margin-left:400px;
    padding: 20px;

    }
.blue {
  color: blue;
  }

.akkumal{
  background-color: white;
}
.akkumal img{
  width:30%;
  height: auto;
  margin: 0;
  padding: 25px;
}
.akkumal-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sandhamn{
  background-color: white;
}
