body{
  font-family: 'Asap', sans-serif;
}

h1{
  color: black;
}
h2{
  color: #0099cc;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;

}
p{
  padding:20px;
  color: #0099cc;
}
/* This file is where your CSS goes. When you start adding CSS, feel free to delete this comment */
.logo {
  display: block;
    margin: 0 auto;
    width: 400px;
    padding-bottom: 60px;
    padding-top: 65px;

}
@media only screen and (max-width: 600px) {
  .logo {
    width: 300px!important;
  }
}

header {
  background-color: white;
  }
  img{
    width:400px;
    margin-right:400px;
    margin-left:400px;
    padding: 20px;
    }

    header .topnav{
    background-color: #00b0b3;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}
header .topnav a {
  float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    header .topnav a:hover {
    background-color: #00c9cc;
    color: white;
    }


.akkumal{
  background-color: white;
}
.centertext{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centertext p{
  text-align: center;
  padding: 0px 80px;
}

.akkumal img{
  width:100%;
  height: auto;
  margin: 0;
  padding: 4px;
}
.akkumal-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
    display: block;
    background-color: #00b0b3;
    width: 100%;
}
